@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* NOTE: This makes “dark:” work based on .dark on an ancestor */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  /* @apply bg-white dark:bg-gray-900; */
  @apply dark:bg-gray-900 dark:text-gray-100 text-gray-900 bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  @apply text-4xl font-bold mb-8;
}

h2 {
  @apply text-3xl font-bold mb-6;
}

h3 {
  @apply text-2xl font-bold mb-4;
}

h4 {
  @apply text-xl font-bold mb-2;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply font-bold;
}

p,
li,
ul,
ol {
  @apply mb-4;
}