@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* NOTE: This makes “dark:” work based on .dark on an ancestor */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {

  html,
  body {
    /* @apply bg-white dark:bg-gray-900; */
    @apply dark:bg-gray-900 dark:text-gray-100 text-gray-900 bg-white min-w-[380px];

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  h1 {
    @apply text-4xl font-bold py-6;
  }

  h2 {
    @apply text-3xl font-bold py-4;
  }

  h3 {
    @apply text-2xl font-bold py-2;
  }

  h4 {
    @apply text-xl font-bold py-3;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply font-bold;
  }

  p,
  li,
  ul,
  ol {
    @apply mb-4;
  }
}